/* Globals */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,600&display=swap');

body::-webkit-scrollbar {
  width: 0 !important
}

body {
  overflow: -moz-scrollbars-none;
}

html,
body {
  margin: 0;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
}

.scrollContainer {
  position: fixed;
  top: 0;
  height: 5px;
  width: 100%;
}

.scrollIndicator {
  height: 100%;
  width: 0;
  background-color: white;
  transition: all 2000ms ease-in-out;
  transition-delay: 0ms;
}