h1 {
  color: white;
}

.pageContainer {
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  font-family: 'Poppins';
}

.pageBody {
  padding: 1rem;
}

.pageBody hr {
  background-color: white;
  width: 50%;
}