.projectContainer {
  height: 100vh;
  padding: 4rem;
  color: white;
  font-family: "Poppins";
}

.carouselContainer {
  display: flex;
  min-height: calc(100vh - 98px);
  width: 100%;
}

.test {
  width: 90%;
  overflow: hidden;
}

.carouselBody {
  display: flex;
  transition: all 2000ms ease;
}

.carouselPage {
  min-width: 100%;
}

.carouselIndicatorContainer {
  height: 2px;
  width: 100%;
}

.carouselIndicator {
  background-color: white;
  height: 100%;
  transition: all 2000ms ease;
}
