/* Element over-ride styles */
html, body {
  margin: 0;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar { width: 0 !important }

body { overflow: -moz-scrollbars-none; }

h1 {
  font-size: 3rem;
  color: 'white';
}

/* App Styles */
.App {
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Filter {
  height: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: -9999;
}
